    * {
        box-sizing: border-box;

    }

    
    body {
        background-image: url('https://images.unsplash.com/photo-1578991624414-276ef23a534f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2085&q=80');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        background-color:white;
        max-width: 100%;
        height: 100%;
        text-align: center;
    }
    
    header {
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
    }
    
    form {
        font-size: 1.2rem;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        border: 2px solid whitesmoke;
    }
    
    .container {
        display: block;
        margin: auto;
        max-width: 700px; 
    }
    
    
    input {
        height: 40px;
        border-radius: 5px;
        border: 1px solid white;
        font-size: 1rem;
    }

    
    #checkbox + label:hover {
        cursor: pointer;
    }

    #checkbox1 + label:hover {
        cursor: pointer;
    }

    #checkbox2 + label:hover {
        cursor: pointer;
    }

    #checkbox3 + label:hover {
        cursor: pointer;
    }

    #checkbox4 + label:hover {
        cursor: pointer;
    }

    #checkbox5 + label:hover {
        cursor: pointer;
    }
    
    #checkbox6 + label:hover {
        cursor: pointer;
    }
    
    #checkbox7 + label:hover {
        cursor: pointer;
    }
    
    #checkbox8 + label:hover {
        cursor: pointer;
    }

    #checkbox9 + label:hover {
        cursor: pointer;
    }
    
    #radio + label:hover {
        cursor: pointer;
    }

    #radio1 + label:hover {
        cursor: pointer;
    }

    #radio2 + label:hover {
        cursor: pointer;
    }

    #radio, #radio1, #radio2 {

        cursor: pointer;
    }
    
    select {  
        height: 40px;
        border-radius: 5px;
        border: 1px solid white;
        font-size: 1rem;
    }

    
    #title {
        font-size: 4rem;
        font-family: 'Kanit', sans-serif;
    }
    
    #description {
        font-size: 1.5rem;
    }
    
    #survey-form {
        background-color:red;
        margin-top: 5px;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 10px;
        text-align:left;  
        margin-bottom: 50px; 
    }
    
    #radio, #radio1, #radio2 {
        text-align: left;
        height: 10px;
        width: 10px;  
    }

    
    #name, #lname, #email, #role, #number, #submit {
        width: 630px;
        border-radius: 10px;
    }
    
    #dropdown {
        width: 490px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    #checkbox, #checkbox1, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6, #checkbox7, #checkbox8, #checkbox9 {
        height: 10px;
        cursor: pointer;
    }

   
    
    button {
        width: 630px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid red;
        background-color: orange;
        color: white;
        cursor: pointer;
        transition-duration: 0.5s;;
    }
    
    button:hover {
        background-color: yellow;
        color: black;
        transition-duration: 0.5s;
        font-weight: 700; 
        letter-spacing: 3px;
        
    }

    
    input:focus {
        outline: none;
        background-color:white;
        border: 1.5px solid rgb(55, 0, 255);
    }

    
    small {
        color: yellow;
        font-size: 0.95rem;
        text-shadow: 1px 2px black;
    }


    .form-control.success input {
        border: 2px solid black;
        
    }

    .form-control.error input {
        border: 3px solid yellow;
    }

    .form-control small {
        visibility: hidden;
    }

    textarea {
        display: inline-block;
        margin: 0;
        padding: .2em;
        width: 630px;
        min-width: 495px;
        /* The max-width "100%" value fixes a weird issue where width is too wide by default and extends beyond 100% of the parent in some agents. */
        max-width: 100%;
        /* Height "auto" will allow the text area to expand vertically in size with a horizontal scrollbar if pre-existing content is added to the box before rendering. Remove this if you want a pre-set height. Use "em" to match the font size set in the website. */
        height: auto;
        /* Use "em" to define the height based on the text size set in your website and the text rows in the box, not a static pixel value. */
        min-height: 10em;
        /* Do not use "border" in textareas unless you want to remove the 3D box most browsers assign and flatten the box design. */
        /*border: 1px solid black;*/
        cursor: text;
        /* Some textareas have a light gray background by default anyway. */
        background-color: #eee;
        /* Overflow "auto" allows the box to start with no scrollbars but add them as content fills the box. */
        overflow: auto;
        /* Resize creates a tab in the lower right corner of textarea for most modern browsers and allows users to resize the box manually. Note: Resize isn't supported by most older agents and IE. */
        resize: none;
        border-radius: 5px;
        border-style: none;
    }
    
    
    
    @media (min-width: 300px) {
        .container {
            max-width: 250px;
        }
    
        #name, #lname, #email, #number, #submit, button, textarea {
            width: 200px;
        }
    
        #dropdown{
            width: 200px;
        }

        textarea {
            min-width: 100px;
            max-width: 100%;   
            }
        
        
    
    }
    
    @media (min-width: 576px) {
            .container {
            max-width: 540px;
            }
        
            #name, #lname, #email, #age, #number, #submit, button, textarea {
                width: 495px;
            }
        
            #dropdown {
                width: 500px;
            }
            
        }
            

}
    
     
      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
      }
      

/* confirmation-html-styles*/      
.container_box {
    display: block;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}


.outter_box {
    background-color: red;
    margin-top: 135px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px black;
}


.logo_box {
    margin-bottom: 50px;
    border: 15px solid black;
    height: 140px;
    width: 225px;
    line-height: 110px;
    font-family: arial;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

  
span {
    font-size: 5rem;
    background-color: inherit;
    padding-left: 15px;
    background-color: red;  
    
}

.thanks_message{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1rem;
    background: red;
}

    
.title {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 20px; 
}

.thick {
    border: 5px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

